*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --zoom-darker: #222222;
    --zoom-dark: #4A4A4A;
    --zoom-icon: #4BC800;
    --zoom-mic: #697480;
    --zoom-primary: #DA272E;

}
body{
    background-color: black;
    height: 100vh;
}

/* #region header */
header{
    height: 14.4vh;
    position: relative;
}
header div{
    position: absolute;
    right: 0;
    top: 5px;
}
.fa-table-cells{
    padding-right: 5px;
    padding-top: 3px;
}
header span{
    color: white;
    background-color: var(--zoom-dark);
    padding: 5px;
    border-radius: 1rem;
    margin-right: 4px;
}
/* #endregion header */
/* #region main */
main{
    height: 74.6vh;
}
.container{
    width: 85%;
    margin: 0 auto;
}
.row{
    display: flex;
    flex-wrap: wrap ;
    
}
.col_1{
    width: calc((100% /7)*1);
    padding: 2px;
    position: relative;
}
img{
    max-width: 100%;
}
.pinco{
    color: white;
    position: absolute;
    bottom: 10px;
    background-color: var(--zoom-mic);
    padding: 3px;
    opacity: 0.8;
}
.pinco i{
    padding: 5px;
}
/* #endregion main */
/* #region footer */
footer .container{
    height: 11vh;
    background-color: var(--zoom-darker);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    width: 100%;

}
footer div{
    font-size: 35px;
}
footer span{
    padding: 10px;
    color: white;
}
.fa-share-from-square{
    color: var(--zoom-icon);
}
.end{
    color: var(--zoom-primary);
    background-color: #4A4A4A;
    padding: 30px;
}
.fa-chevron-up{
    font-size: 15px;
    padding-left: 10px;
}
/* #endregion footer */